<tbody>
  <tr>
    <td width="100%">
      <div style="max-width:600px;Margin:0 auto">
        <table align="center" cellpadding="0" cellspacing="0"
          style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
          <tbody>
            <tr>
              <td>
                <table style="margin-bottom:40px;width:100%" width="100%">
                  <tbody>
                    <tr>
                      <td>
                          <svg style="width: 100%; height:150px;" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                            class="iconify iconify--logos" width="31.88" height="32" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 256 257">
                            <defs>
                              <linearGradient id="IconifyId1813088fe1fbc01fb466" x1="-.828%" x2="57.636%" y1="7.652%"
                                y2="78.411%">
                                <stop offset="0%" stop-color="#41D1FF"></stop>
                                <stop offset="100%" stop-color="#BD34FE"></stop>
                              </linearGradient>
                              <linearGradient id="IconifyId1813088fe1fbc01fb467" x1="43.376%" x2="50.316%" y1="2.242%"
                                y2="89.03%">
                                <stop offset="0%" stop-color="#FFEA83"></stop>
                                <stop offset="8.333%" stop-color="#FFDD35"></stop>
                                <stop offset="100%" stop-color="#FFA800"></stop>
                              </linearGradient>
                            </defs>
                            <path fill="url(#IconifyId1813088fe1fbc01fb466)"
                              d="M255.153 37.938L134.897 252.976c-2.483 4.44-8.862 4.466-11.382.048L.875 37.958c-2.746-4.814 1.371-10.646 6.827-9.67l120.385 21.517a6.537 6.537 0 0 0 2.322-.004l117.867-21.483c5.438-.991 9.574 4.796 6.877 9.62Z">
                            </path>
                            <path fill="url(#IconifyId1813088fe1fbc01fb467)"
                              d="M185.432.063L96.44 17.501a3.268 3.268 0 0 0-2.634 3.014l-5.474 92.456a3.268 3.268 0 0 0 3.997 3.378l24.777-5.718c2.318-.535 4.413 1.507 3.936 3.838l-7.361 36.047c-.495 2.426 1.782 4.5 4.151 3.78l15.304-4.649c2.372-.72 4.652 1.36 4.15 3.788l-11.698 56.621c-.732 3.542 3.979 5.473 5.943 2.437l1.313-2.028l72.516-144.72c1.215-2.423-.88-5.186-3.54-4.672l-25.505 4.922c-2.396.462-4.435-1.77-3.759-4.114l16.646-57.705c.677-2.35-1.37-4.583-3.769-4.113Z">
                            </path>
                          </svg>
                          
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="text-align:justify;word-break:break-word">
                <table style="margin-bottom:20px;width:100%" width="100%">
                  <tbody>
                    <tr>
                      <td>
                        <table style="width:100%;margin-bottom:20px" width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">Hey there,</strong>

                                <p
                                  style="font-family:Helvetica,Arial,sans-serif;color:#234567;font-size:14px;line-height:1.5;margin:0">
                                  We appreciate your interest in reporting animal injuries on campus. To ensure the
                                  safety of everyone in our community, we need all case reports to be submitted from a
                                  verified email address.
                                </p>
                                <br>
                                <p
                                  style="font-family:Helvetica,Arial,sans-serif;color:#234567;font-size:14px;line-height:1.5;margin:0">
                                  Just click the following button to confirm your email address and get started on your
                                  case report.
                                </p>

                                <center>
                                  <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                    align="center" width="" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="background-color:#00aff5;color:#fff;text-align:center;border-radius:48px;padding:16px 24px;border-color:transparent;font-weight:bold;font-size:12px;line-height:1">
                                          <a style="color: white; text-decoration: none;" href=<%=confirm_link %>>Report
                                            Case</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </center>

                                <p
                                  style="font-family:Helvetica,Arial,sans-serif;color:#234567;font-size:14px;line-height:1.5;margin:0">
                                  If you have any questions or need assistance, don't hesitate to reach out to our
                                  support team at lumsaws@gmail.com. We're always here to lend a helping paw
                                  ฅ⁠^⁠•⁠ﻌ⁠•⁠^⁠ฅ
                                </p>

                                <br>
                                <p
                                  style="font-family:Helvetica,Arial,sans-serif;color:#234567;font-size:14px;line-height:1.5;margin:0">
                                  Thank you for your cooperation and for being a responsible meowber of our campus
                                  community.
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>

            <tr>
              <td style="text-align:center">
                <table style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                  cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="text-align:center">
                        <p
                          style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px">
                          This email was sent to you by
                          lumsaws@gmail.com (Do not reply)
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</tbody>
</table>